<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Homepage</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>
    <h1>Photo Gallery</h1>
    <div class="simpleSlides">
        <img class="slides animate-left" src="../images/beach.jpg" alt="Beach">
        <img class="slides animate-left" src="../images/dune.jpg">
        <img class="slides animate-left" src="../images/mountainForest.jpg">
        <img class="slides animate-left" src="../images/railroadCrossing.jpg">
      </div>
    
</body>
<script src="../scripts/script.js"></script>
</html>